.footer {
  background-color: $color-grey-4;
  padding-top: 18rem;
  padding-bottom: 4rem;
  position: relative;
  clip-path: polygon(0 18%, 100% 0%, 100% 100%, 0% 100%);

  @media only screen and (max-width: $bp-large) {
    clip-path: polygon(0 14%, 100% 0%, 100% 100%, 0% 100%);
    padding-top: 14rem;
  }

  @media only screen and (max-width: $bp-medium) {
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
    padding-top: 13rem;
  }

  @media only screen and (max-width: $bp-small) {
    clip-path: polygon(0 8%, 100% 0%, 100% 100%, 0% 100%);
  }

  @media only screen and (max-width: $bp-smallest) {
    clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
    padding-top: 11rem;
  }

  &__links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 6rem;
    gap: 2rem;

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;
    }
  }

  &__list {
    padding-left: 0.5rem;
    position: relative;
  }

  &__list:before {
    content: "";
    display: block;
    position: absolute;
    left: -0.8rem;
    top: 0.7rem;
    width: 0.2rem;
    height: 1.4rem;
    background-color: $color-primary;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  &__list {
    list-style: none;
  }
  &__item {
    margin-top: 0.8rem;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: $color-grey-3;
    font-size: 1.4rem;
    font-weight: 400;
    transition: all 0.3s;
  }

  &__link:hover,
  &__link:active {
    color: $color-primary;
  }

  &__copyright-section {
    border-top: 1px solid $color-grey-5;
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__logo {
    width: 12rem;
  }

  &__copyright {
    font-size: 1.4rem;
    text-align: right;

    @media only screen and (max-width: $bp-small) {
      text-align: center;
    }

    a:link,
    a:visited {
      color: $color-primary;
      text-decoration: none;
      font-weight: 600;
    }
  }
}
